#revancheDeni {
  margin-left: 25px;
}

#gameboard {
  display: none;
}

#onlineBatch {
  display: none;
}

#turnBatch {
  display: none;
}

#chatroomBatch {
  display: none;
}

#scoreBatch {
  display: none;
}

#quit {
  display: none;
}

#matchmaking {
  display: none;
}

#lobby {
  display: none;
}

#imprint-wrapper {
  display: none;
  width: 500px;
  height: 500px;
  max-height: 500px;
}

.chat-wrapper {
  float: right;
  display: none;
  width: 500px;
  height: 500px;
  max-height: 500px;
  flex-direction: column;
  border: 1px solid lightgrey;
}

.center {
  display: inline-block;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.name-wrapper {
  width: 400px;
  height: 55px;
  max-height: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
}

#events {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(110, 110, 110);
  overflow-y: auto;
}

#events li {
  padding: 10px 10px 10px 10px;
}

.chatInput-wrapper {
  padding: 30px 0px 0px 0px
}

.game-board {
  padding: 0px !important;
  padding-top: 20px !important;
  padding-left: 20px !important;
	width: 500px;
	height: 500px;
	display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#body {
  background: rgb(247, 244, 244);
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}






/* BUTTONS
---------------------------------------------------*/

#button0 {
  margin: 0px;
  width: 145px;
  height: 145px; 
  font-weight: bold;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17a2b8;
}
#button1 {
  margin: 0px;
  width: 145px;
  height: 145px; 
  font-weight: bold;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17a2b8;
}
#button2 {
  margin: 0px;
  width: 145px;
  height: 145px; 
  font-weight: bold;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17a2b8;
}
#button3 {
  margin: 0px;
  width: 145px;
  height: 145px; 
  font-weight: bold;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17a2b8;
}
#button4 {
  margin: 0px;
  width: 145px;
  height: 145px; 
  font-weight: bold;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17a2b8;
}
#button5 {
  margin: 0px;
  width: 145px;
  height: 145px; 
  font-weight: bold;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17a2b8;
}
#button6 {
  margin: 0px;
  width: 145px;
  height: 145px; 
  font-weight: bold;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17a2b8;
}
#button7 {
  margin: 0px;
  width: 145px;
  height: 145px; 
  font-weight: bold;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17a2b8;
}
#button8 {
  margin: 0px;
  width: 145px;
  height: 145px; 
  font-weight: bold;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17a2b8;
}






/* BUTTON ANIMATIONS
---------------------------------------------------*/

#button0:hover {
  background: #0f7b8b;
  border: 12px;
}

#button0:active {
  background: #07535f;
}

#button1:hover {
  background: #0f7b8b;
  border: 12px;
}

#button1:active {
  background: #07535f;
}

#button2:hover {
  background: #0f7b8b;
  border: 12px;
}

#button2:active {
  background: #07535f;
}

#button3:hover {
  background: #0f7b8b;
  border: 12px;
}

#button3:active {
  background: #07535f;
}

#button4:hover {
  background: #0f7b8b;
  border: 12px;
}

#button4:active {
  background: #07535f;
}

#button5:hover {
  background: #0f7b8b;
  border: 12px;
}

#button5:active {
  background: #07535f;
}

#button6:hover {
  background: #0f7b8b;
  border: 12px;
}

#button6:active {
  background: #07535f;
}

#button7:hover {
  background: #0f7b8b;
  border: 12px;
}

#button7:active {
  background: #07535f;
}

#button8:hover {
  background: #0f7b8b;
  border: 12px;
}

#button8:active {
  background: #07535f;
}